# ========================
# JAVA / SPRING
# ========================
target/
*.log
*.class

# ========================
# NODE / PLAYWRIGHT
# ========================
node_modules/
playwright-report/
test-results/
dist/

# ========================
# IDE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# ENV
# ========================
.env